body {
    margin: 0;
    padding: 0;
    background: linear-gradient(243deg, rgba(0,44,56,1) 0%, rgba(81,104,110,1) 29%, rgba(0,92,111,1) 100%);
    box-sizing: border-box;
    display: grid;
}

nav {
    display: flex;
    align-items: center;
    width: 95%;
    box-sizing: border-box;
    justify-content: start;
    gap: 100px;
    padding-left: 24px;
    background-color: #05394a;
    border-radius: 50px;
    box-shadow: 0px 0px 2px #F3F7EC;
    top: 30px;
    position: sticky;
    justify-self: center;
    z-index: 1000;
}

.container-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.8em;
    font-family: sans-serif;
}

.container-logo h2 {
    font-size: 1.2rem;
    color: #F3F7EC;
}


/* SECTION 1 */

.section-1 {
    padding-left: 24px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: oblique;
    font-size: 1.8rem;
    color: #F3F7EC;
    flex-direction: column;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
    padding-bottom: 10px;
}

.section-1 p {
    font-size: 1.1rem;
    width: 80%;
}

.section-1 h1 {
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
    width: 80%;
}

@media (max-width:768px) {
.section-1 {
    margin-top: 5rem;
}

.section-1 p {
    width: 80%;
    font-size: 1rem;
}

.section-1 h1 {
    text-align: left;
    font-size: 2rem;
}

}

/* SECTION 2 */
.section-2 {
    padding: 24px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.box {
    background-color: #00000051;
    padding: 24px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding-top: 10px;
    transition: box-shadow 0.7s ease-in-out;
}

.box:hover {
    box-shadow: 0px 1px 16px 0.3px #ffffff;
}

.box h1 {
    color: #fff;
    font-size: 1.6rem;
    text-shadow: 0px 3px 8px  #003848;
    text-align: center;
}

button {
    border-radius: 10px;
    border: none;
    padding: 12px;
}

button p {
    font-weight: 700;
    font-family: sans-serif;
    font-size: 1rem;
}

button:hover {
    box-shadow: 0px 1px 5px 0.5px #fff;
}

#countdown {
    font-size: 48px;
    margin-top: 10px;
    margin-bottom: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: oblique;
    color: #F3F7EC;
}

@media (max-width:480px) {
    #countdown {
        font-size: 1.6rem;
    }
    
}

* {
    font-family: 'Quicksand', sans-serif;
}